*{
  box-sizing: border-box;
}

.myflexboxRow{
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  background-color:white;
  margin: 15px;
  border-style: solid;
  border-color:black;
  border-width: 10px;
  border-radius: 25px;
}

.myflexboxColumn{
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 775px){
  .myflexboxRow{
    flex-direction: column;
  }
}

body{
  background-color: gray;
}

img{
  border-width: 5px;
  border-color: orange;
  border-style: solid;
  border-radius: 10px;
  width: 100%;
}

p{
  text-align: center;
  font-family: fantasy;
  font-size: larger;
}

