*{
  box-sizing: border-box;
  
}

.myflexboxRow{
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  background-color: gray;
}

.myflexboxColumn{
  padding: 20px;
}

img{
  border-width: 5px;
  border-color: orange;
  border-style: solid;
}

