*{
  box-sizing: border-box;
}

.flexRow{
  display: flex;
  flex-wrap: wrap;
}

.flexColumn{
  flex: 20%;
  padding: 15px;
  background: cadetblue;
  border-radius: 25px;
  margin: 5px;
}

@media screen and (max-width: 700px){
  .flexRow{
    flex-direction: column;
  }
}

h1,h2{
  text-align: center;
}

p{
  word-wrap: normal;
}